@charset "utf-8";
/* CSS Document */

{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.xyz,.xyz *{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
*{padding:0;margin:0}
ul{margin:0;padding:0;list-style:none}
li{margin:0;padding:0;list-style:none}
h1,h2,h5,h4,h5,h6{margin:0;padding:0;color:#000}
a{outline:none!important;cursor:pointer!important;text-decoration:none}
li{list-style:none}
input,textarea,select,option{border:0}
img{border:0}
.clear{clear:both}
.gradient{filter:none}
#y-content{margin:0 auto;width:100%;max-width:1100px !important}
.c-content{margin:0 auto!important;display:table!important}
{font-family:'Roboto Slab', serif; font-family:'Roboto', sans-serif; font-family:'Raleway', sans-serif;}
#ws-header {width:100%; height:100px; float:left;}
.w-content {width:100%; display:inline-block;}
#ws-content {
 display:flex;
border-bottom:4px solid #EFD777;
margin:20px 0 60px 0;
box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.25);
-moz-box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.25);
-webkit-box-shadow: 0px 0px 10px 5px rgba(119, 119, 119, 0.25);
width:100%; overflow:hidden;}

#ws-yellow {width:72px; height:100%; position:absolute; left:0; top:0;  background:#89D5BB}
#ws-yellow a { transition-property: background;
transition-duration: 0.2s;
transition-timing-function: linear;height:79px; display:block; width:100%; border-bottom:1px solid #75baa2;}
#ws-yellow a:hover {background-color:#75baa2;}
.mna {background:url(images/nav01.html) no-repeat; background-position:center;}
.mnb {background:url(images/nav02.html) no-repeat; background-position:center;}
.mnc {background:url(images/nav03.html) no-repeat; background-position:center;}
.mnd {background:url(images/user-logout.html) no-repeat; background-position:center; position:absolute; bottom:0; left:0; border:none;}
#ws-menus {width:225px; float:right;}
#ws-hello {width:100%; height:170px; background:url(images/user-dashboard.html) no-repeat; padding:50px 0 0 30px;}
#ws-hello h5 {font-family:'Raleway', sans-serif; font-size:33px; font-weight:700; color:#fff;}
#ws-hello p {font-family:'Raleway', sans-serif; font-size:23px; font-weight:400; color:#fff;}

#ws-left {float:left;width:225px; position:relative;

padding:0px;background:#1B334D;}

#ws-menu {width:100%; overflow:hidden;}
#ws-menu ul {width:100%;padding:0px;border-radius:3px;}
#ws-menu ul li {width:100%;}
#ws-menu ul li a { transition-property: background;
transition-duration: 0.2s;
transition-timing-function: linear;width:100%; display:block; color:#fff; font-weight:300;  line-height:45px; border-bottom:1px solid #15273a; padding-left:23px; font-size:13px; text-transform:capitalize;background:none;}
#ws-menu ul li a:hover {color:#444;background:#EFD777;}





#ws-right {



background:#fff;padding:25px 30px;border-radius:0px;border:1px solid #ccc;float:right; width:875px;}
#ws-balances {width:100%; overflow:hidden; height:172px; border-top:1px solid #CDCECE; background:#EAEAEA; border-bottom:4px solid #D6D6D6;}
.ws-balances {float:left; width:25%; text-align:center; padding-top:18px; height:172px; background:url(images/line-bgg.html) no-repeat; background-position:0 center;}
.ws-balances:first-child {background:bottom;}
.ws-balances h5 {font-family:'Roboto', sans-serif; color:#2e2e2e; font-size:31px; font-weight:100; text-transform:uppercase; padding:4px 0 0}
.ws-balances p {font-family:'Roboto Slab', serif; color:#434343; font-size:14px; font-weight:400;}
#ws-info {width:100%; overflow:hidden; padding:20px 32px 87px; border:1px solid #CDCECE; border-bottom-width:4px; border-radius:0 0 3px 3px;}
#ws-details {width:100%; overflow:hidden;}
#ws-member {float:left; width:407px; height:400px; border-bottom:2px solid #DBDBDB;}
#wx-member {width:100%; overflow:hidden; border:1px solid #D6D6D6; border-bottom:none; border-radius:3px 3px 0 0;}
#ws-user {width:100%; overflow:hidden; text-align:center; height:117px;}
#ws-user h5 {display:inline-block; padding-left:75px; background:url(images/user-details.html) no-repeat; background-position:0 center; font-family:'Roboto Slab', serif; font-size:34px; font-weight:700; color:#3b3b3b; line-height:115px;}
#ws-user h5 span {font-weight:300;}
#ws-users {width:100%; overflow:hidden; height:70px; line-height:70px; font-family:'Roboto Slab', serif; font-size:14px; font-weight:400; border-top:1px solid #E9E9E9;}
#ws-data {color:#959595; float:left; padding-left:41px;}
#ws-result {color:#3e3e3e; float:right; padding-right:34px;}
#ws-member a {display:block; width:100%; line-height:70px; color:#fff; font-family:'Roboto Slab', serif; font-size:27px; font-weight:700; text-transform:uppercase; background:url(images/user-settings.html) no-repeat; background-position:105px center; padding-left:154px; background-color:#2E2E2E;}
#ws-member a:hover {color:#89D5BB;}
#ws-percent {float:right; width:286px; height:400px; background:#0E2D4E; padding:39px 0 1px; border-radius:3px 3px 0 0;}
#ws-daily {margin:0 auto; width:219px; text-align:center; padding-bottom:20px; border-bottom:1px solid #091e33;}
#ws-daily h5 {font-family:'Roboto Slab', serif; font-size:72px; font-weight:700; color:#fff; text-transform:uppercase; line-height:39px;}
#ws-daily h4 {font-family:'Roboto Slab', serif; font-size:72px; font-weight:100; color:#fff; line-height:90px;}
#ws-days {width:100%; overflow:hidden; text-align:center; padding:16px 0 21px;}
#ws-days h5 {font-family:'Roboto', sans-serif; color:#fff; font-size:32px; font-weight:700; text-transform:capitalize;}
#ws-days p {font-family:'Roboto', sans-serif; color:#fff; font-size:21px; font-weight:300; padding-top:2px;}
#ws-days h4 {font-family:'Roboto Slab', serif; font-size:19px; font-weight:700; color:#fff; padding-top:10px; text-transform:capitalize;}
#ws-percent a {display:block; width:100%; line-height:70px; color:#fff; font-family:'Roboto Slab', serif; font-size:27px; font-weight:700; text-transform:uppercase; background-color:#2E2E2E; text-align:center;}
#ws-percent a:hover {color:#89D5BB;}
#ws-reflink {width:100%; height:60px; background:#2E2E2E; border-radius:3px; margin-top:25px;}
#ws-link {float:left; line-height:60px; background:url(images/ref-link.html) no-repeat; background-position:21px center; padding-left:61px; color:#fff; font-size:14px; font-weight:700; font-family:'Roboto', sans-serif;}
#ws-link a {color:#f1f1f1; font-size:14px; font-weight:400; font-family:'Roboto Slab', serif;}
#ws-tools {float:right; padding:18px 23px 0 0;}
#ws-tools a {width:125px;  transition-property: background;
transition-duration: 0.2s;
transition-timing-function: linear;text-align:center; line-height:24px; display:block; border-radius:3px; background:#fff; color:#444; text-transform:uppercase; font-size:11px; font-weight:700; font-family:'Roboto Slab', serif;}
#ws-tools a:hover {color:#fff; background:#0E2D4E;}


.menutop {
color:#fff;
text-align:center;
background:url(../../graphics/slider.html) -200px 500px;
padding-bottom:5px;
border-bottom:1px solid #15273a;
}
.menutop i.cust  {
display:block;
padding-top:30px;
font-size:70px;
color:#EFD777;
}
.menutop span {
font-size:20px;
font-weight:300;
display:block;
margin-top:10px;
}
.menutop a {
background:#EFD777;
padding:10px 15px;
display:block;
width:120px;
color:#444;
border-radius:100px;
margin:25px auto;
}
.menutop a:hover {
background:#444;
color:#fff;
}